DATABASE_URL="mysql://root:password@localhost:3306/database"
DATABASE_USER="root"
DATABASE_PASSWORD="password"
DATABASE_NAME="database"
DATABASE_HOST="localhost"
DATABASE_PORT=3306

COOKIE_SECRET="secret"

AUTHORIZENET_LOGIN_ID=""
AUTHORIZENET_TRANSACTION_KEY=""
AUTHORIZENET_CLIENT_KEY=""